/* this is the customized style for the app - feel free to change it to your own design */
body {
	background-color: #CC8F8F;
}
a {
	color: rgba(0,0,0,0.65);
}
a:hover {
	color: rgba(0,0,0,1);
}
hr {
	border: 0;
	height: 2px;
	background-color: #000;
}
#characters {
	height: 20pt;
	min-height: 20pt;
	resize: vertical;
}
#characters, #doc-title {
	width: calc(100% - 5px);
	min-width: calc(100% - 5px);
	max-width: calc(100% - 5px);
}
#doc-filename {
	min-width: calc(50%);
}
#formFieldset {
	background-color: rgba(255,255,255,0.35);
	border: 0;
	margin: 0;
}
.formtable td:nth-child(1){
	font-weight: bold;
}
.annotation:before {
	content: '※';
}
input[type="radio"]:checked+label, input[type="checkbox"]:checked+label {
	font-style: italic;
}
#statusTr.processing {
	background-color: #EFFAB4;
}
#statusTr.error {
	background-color: #F56991;
	color: #fff;
}
#statusTr.error #substatus {
	color: #F56991;
}
#statusTr.error #mainstatus {
	background-color: #FFC48C;
}
@media only screen and (max-width: 600px) {
    body {
        padding: 0 7px 7px 7px;
    }
	#formFieldset {
		margin: -1px;
	}
	.checkRadioBlock {
		display: block;
		margin: 0;
	}
	#gridlineExampleTable, #gridlineExampleTable div:nth-child(3) {
		display: block;
	}
	#gridlineExampleTable div:nth-child(1) {
		display: inline-block;
		vertical-align: top;
	}
	#gridlineExampleTable div:nth-child(2) {
		display: none;
	}
	.only-mobile {
		display: initial;
	}
}